Repository Apicurio/apicurio-registry, pull requests merged in 2022-09, with the labels that each got.

#2721 Generate config docs
  .github/workflows/verify.yaml
  app/src/main/java/io/apicurio/registry/ImportLifecycleBean.java
  app/src/main/java/io/apicurio/registry/auth/AuthConfig.java
  app/src/main/java/io/apicurio/registry/ccompat/store/CCompatConfig.java
  app/src/main/java/io/apicurio/registry/config/RegistryStorageConfigCache.java
  app/src/main/java/io/apicurio/registry/events/http/HttpEventSinkConfiguration.java
  app/src/main/java/io/apicurio/registry/events/kafka/KafkaEventSink.java
  app/src/main/java/io/apicurio/registry/metrics/health/liveness/LivenessUtil.java
  app/src/main/java/io/apicurio/registry/metrics/health/liveness/PersistenceExceptionLivenessCheck.java
  app/src/main/java/io/apicurio/registry/metrics/health/liveness/ResponseErrorLivenessCheck.java
  app/src/main/java/io/apicurio/registry/metrics/health/readiness/PersistenceTimeoutReadinessCheck.java
  app/src/main/java/io/apicurio/registry/metrics/health/readiness/ResponseTimeoutReadinessCheck.java
  app/src/main/java/io/apicurio/registry/mt/MultitenancyProperties.java
  app/src/main/java/io/apicurio/registry/mt/TenantContextLoader.java
  app/src/main/java/io/apicurio/registry/mt/TenantReaper.java
  app/src/main/java/io/apicurio/registry/mt/limits/TenantLimitsConfigurationService.java
  app/src/main/java/io/apicurio/registry/rest/RestConfig.java
  app/src/main/java/io/apicurio/registry/rest/v2/AdminResourceImpl.java
  app/src/main/java/io/apicurio/registry/services/DisabledApisMatcherService.java
  app/src/main/java/io/apicurio/registry/services/LogConfigurationService.java
  app/src/main/java/io/apicurio/registry/services/auth/CustomAuthenticationMechanism.java
  app/src/main/java/io/apicurio/registry/services/http/RegistryExceptionMapperService.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatementsProducer.java
  app/src/main/java/io/apicurio/registry/storage/metrics/StorageMetricsStore.java
  app/src/main/java/io/apicurio/registry/ui/config/UiConfigProperties.java
  app/src/main/java/io/apicurio/registry/ui/servlets/RedirectFilter.java
  app/src/test/java/io/apicurio/registry/auth/AuthTestAnonymousCredentials.java
  app/src/test/java/io/apicurio/registry/auth/AuthTestAuthenticatedReadAccess.java
  app/src/test/java/io/apicurio/registry/auth/AuthTestLocalRoles.java
  app/src/test/java/io/apicurio/registry/auth/AuthTestNoRoles.java
  app/src/test/java/io/apicurio/registry/auth/AuthTestProfileBasicClientCredentials.java
  app/src/test/java/io/apicurio/registry/auth/MojoAuthTest.java
  app/src/test/java/io/apicurio/registry/auth/SimpleAuthTest.java
  app/src/test/java/io/apicurio/registry/rbac/AdminResourceTest.java
  docs/generateAllConfigPartial.java
  docs/getting-started/master.adoc
  docs/modules/ROOT/pages/getting-started/assembly-configuring-the-registry.adoc
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.template
  docs/pom.xml
Labels: area/rest-api, area/storage

#2754 docs: changing artifact owner
  docs/modules/ROOT/pages/getting-started/assembly-managing-registry-artifacts-ui.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-distros.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifacts-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-browsing-artifacts-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-changing-artifact-owner-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-configuring-liveness-readiness-probes.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-kafka-streams-operatorhub.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-registry-operatorhub.adoc
  docs/modules/ROOT/partials/getting-started/proc-setting-up-kafka-streams-storage.adoc
  docs/modules/ROOT/partials/getting-started/proc-setting-up-postgresql-storage.adoc
  docs/modules/ROOT/partials/getting-started/ref-registry-liveness-env-vars.adoc
  docs/modules/ROOT/partials/shared/attributes.adoc
Labels: Documentation, area/storage

#2757 [feat] Better error handling when downloading artifact contents from URL
  app/src/main/java/io/apicurio/registry/rest/v2/GroupsResourceImpl.java
Labels: area/rest-api

#2755 Authenticated read access depends on rbac being enabled too
  app/src/main/java/io/apicurio/registry/auth/AuthConfig.java
Labels: triage/needs-triage

#2764 [chore] Clean commented code in the gen docs script
  docs/generateAllConfigPartial.java
Labels: triage/needs-triage

#2737 Update testsuite
  .github/workflows/verify.yaml
  pom.xml
  system-tests/pom.xml
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/ApicurioRegistryUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/CertificateUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/Constants.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/DatabaseUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/Environment.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/KafkaUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/KeycloakUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/OperatorUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/SeleniumUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/operator/OperatorManager.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/operator/types/ApicurioRegistryBundleOperatorType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/operator/types/ApicurioRegistryOLMOperatorType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/operator/types/KeycloakOLMOperatorType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/operator/types/OperatorType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/operator/types/StrimziClusterBundleOperatorType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/operator/types/StrimziClusterOLMOperatorType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/platform/Kubernetes.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/registryinfra/ResourceManager.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/registryinfra/resources/ApicurioRegistryResourceType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/registryinfra/resources/DeploymentResourceType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/registryinfra/resources/KafkaConnectResourceType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/registryinfra/resources/KafkaResourceType.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/registryinfra/resources/KafkaUserResourceType.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/APITests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/BundleTests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/OLMClusterWideTests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/OLMNamespacedTests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/OLMTests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/OLMUpgradeTests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/SimpleTestsIT.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/TestBase.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/Tests.java
Labels: java, priority/high

#2746 Change the Create Artifact (by URL) UI to be more consistent with RHOAD
  integration-tests/testsuite/src/test/java/io/apicurio/tests/selenium/SeleniumProvider.java
  integration-tests/testsuite/src/test/java/io/apicurio/tests/ui/RegistryUITester.java
  integration-tests/testsuite/src/test/java/io/apicurio/tests/ui/UploadArtifactsIT.java
  integration-tests/testsuite/src/test/java/io/apicurio/tests/ui/pages/UploadArtifactDialog.java
  ui/src/app/components/common/if.tsx
  ui/src/app/components/common/index.ts
  ui/src/app/components/common/isLoading.tsx
  ui/src/app/components/common/urlUpload.css
  ui/src/app/components/common/urlUpload.tsx
  ui/src/app/pages/artifacts/components/uploadForm/uploadForm.tsx
  ui/src/services/groups/groups.service.ts
  ui/src/services/index.ts
  ui/src/services/url.ts
Labels: area/ui

#2768 Close the client after downloading the artifact content
  app/src/main/java/io/apicurio/registry/rest/v2/GroupsResourceImpl.java
Labels: area/rest-api

#2777 Add '--allow-incomplete-classpath' to native builds
  multitenancy/tenant-manager-api/src/main/resources/application.properties
  storage/sql/src/main/resources/overlay.properties
Labels: area/ui, area/storage

#2781 Conditional inclusion of system-tests
  .github/workflows/verify.yaml
  pom.xml
Labels: triage/needs-triage

#2782 Cancel in-flight jobs
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish-debug-image.yaml
  .github/workflows/verify.yaml
Labels: triage/needs-triage

#2749 Use the generated models from the operator
  .github/workflows/verify.yaml
  system-tests/pom.xml
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/ApicurioRegistryUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/framework/KeycloakUtils.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/platform/Kubernetes.java
  system-tests/src/main/java/io/apicurio/registry/systemtests/registryinfra/resources/ApicurioRegistryResourceType.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/APITests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/OLMTests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/OLMUpgradeTests.java
  system-tests/src/test/java/io/apicurio/registry/systemtests/TestBase.java
Labels: triage/needs-triage

#2775 Fix duplicated reference avro
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/test/java/io/apicurio/registry/noprofile/serde/AvroSerdeTest.java
  app/src/test/resources/io/apicurio/registry/serde/AvroSchemaB.avsc
  serdes/avro-serde/src/main/java/io/apicurio/registry/serde/avro/AvroSchemaParser.java
Labels: area/storage, area/serdes

#2778 Allow service accounts to be owners of artifacts via change-ownership
  ui/src/app/pages/artifactVersion/components/modals/changeOwnerModal.tsx
Labels: area/ui

#2773 Fix/create group metadata
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecorator.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/mappers/GroupMetaDataDtoMapper.java
  app/src/test/java/io/apicurio/registry/noprofile/storage/AbstractRegistryStorageTest.java
  storage/kafkasql/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorage.java
  storage/sql/src/main/resources/overlay.properties
Labels: area/storage

#2779 Avoid throwing 500 on algorithm hash not supported.
  app/src/main/java/io/apicurio/registry/rest/v2/GroupsResourceImpl.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v2/GroupsResourceTest.java
Labels: area/rest-api

#2788 Added the artifact type to events fired by the registry event source
  app/src/main/java/io/apicurio/registry/events/EventSourcedRegistryStorage.java
  common/src/main/java/io/apicurio/registry/events/dto/ArtifactId.java
Labels: area/storage

#2786 Update common rest client version
  pom.xml
Labels: area/rest-client

#2791 Add option to use the canonical hash in the ccompat api
  app/src/main/java/io/apicurio/registry/ccompat/store/CCompatConfig.java
  app/src/main/java/io/apicurio/registry/ccompat/store/RegistryStorageFacadeImpl.java
  app/src/main/resources/application.properties
  app/src/test/java/io/apicurio/registry/ccompat/rest/CCompatCanonicalModeTest.java
  app/src/test/java/io/apicurio/registry/ccompat/rest/CanonicalModeProfile.java
  app/src/test/java/io/apicurio/registry/noprofile/ccompat/rest/ConfluentCompatApiTest.java
  app/src/test/resources/io/apicurio/registry/ccompat/rest/avro-expanded.avsc
  app/src/test/resources/io/apicurio/registry/ccompat/rest/avro-minified.avsc
  app/src/test/resources/io/apicurio/registry/noprofile/ccompat/rest/avro-expanded.avsc
  app/src/test/resources/io/apicurio/registry/noprofile/ccompat/rest/avro-minified.avsc
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
Labels: area/storage

#2797 build mt-ui whenever apicurio-registry/ui changes
  .github/workflows/verify.yaml
Labels: area/ui

#2794 Fixed several programmer errors detected by the open refactory code scanning tool
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  schema-util/xsd/src/main/java/io/apicurio/registry/util/SchemaFactoryAccessor.java
  storage/kafkasql/src/main/java/io/apicurio/registry/storage/impl/kafkasql/sql/KafkaSqlSink.java
Labels: area/storage

#2798 Validate subschema in json serde only if the subschema is present in …
  app/src/test/java/io/apicurio/registry/noprofile/serde/JsonSchemaSerdeTest.java
  app/src/test/java/io/apicurio/registry/support/Citizen.java
  app/src/test/java/io/apicurio/registry/support/CitizenIdentifier.java
  app/src/test/resources/io/apicurio/registry/util/citizen.json
  app/src/test/resources/io/apicurio/registry/util/citizenIdentifier.json
  serdes/jsonschema-serde/src/main/java/io/apicurio/registry/serde/jsonschema/JsonSchema.java
  serdes/jsonschema-serde/src/main/java/io/apicurio/registry/serde/jsonschema/JsonSchemaKafkaDeserializer.java
  serdes/jsonschema-serde/src/main/java/io/apicurio/registry/serde/jsonschema/JsonSchemaKafkaSerializer.java
Labels: area/serdes

#2803 feat(registry-client): added option to update artifact with references
  client/src/main/java/io/apicurio/registry/rest/client/RegistryClient.java
  client/src/main/java/io/apicurio/registry/rest/client/impl/RegistryClientImpl.java
  client/src/main/java/io/apicurio/registry/rest/client/request/provider/GroupRequestsProvider.java
  integration-tests/testsuite/src/main/java/io/apicurio/tests/LoadBalanceRegistryClient.java
Labels: area/rest-client

#2812 [chore] Add Zulip channel badge
  README.md
Labels: triage/needs-triage

#2810 Validate complex json objects inside arrays
  app/src/test/java/io/apicurio/registry/noprofile/serde/JsonSchemaSerdeTest.java
  app/src/test/java/io/apicurio/registry/support/Citizen.java
  app/src/test/java/io/apicurio/registry/support/Qualification.java
  app/src/test/resources/io/apicurio/registry/util/citizen.json
  app/src/test/resources/io/apicurio/registry/util/qualification.json
  serdes/jsonschema-serde/src/main/java/io/apicurio/registry/serde/jsonschema/JsonSchema.java
Labels: area/serdes

#2809 docs: add new ui enhancements
  docs/modules/ROOT/partials/getting-started/proc-adding-artifacts-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-browsing-artifacts-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-changing-artifact-owner-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-configuring-registry-security.adoc
Labels: Documentation, area/ui

#2795 Generate code using the Maven Plugin
  .github/scripts/install-tools.sh
  .github/workflows/lint.yaml
  common/pom.xml
  common/src/main/java/io/apicurio/registry/rest/v2/AdminResource.java
  common/src/main/java/io/apicurio/registry/rest/v2/GroupsResource.java
  common/src/main/java/io/apicurio/registry/rest/v2/IdsResource.java
  common/src/main/java/io/apicurio/registry/rest/v2/SearchResource.java
  common/src/main/java/io/apicurio/registry/rest/v2/SystemResource.java
  common/src/main/java/io/apicurio/registry/rest/v2/UsersResource.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/ArtifactMetaData.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/ArtifactOwner.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/ArtifactReference.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/ArtifactSearchResults.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/ConfigurationProperty.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/ContentCreateRequest.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/DownloadRef.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/EditableMetaData.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/Error.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/IfExists.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/Limits.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/LogConfiguration.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/NamedLogConfiguration.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/Properties.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/RoleMapping.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/Rule.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/RuleViolationCause.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/RuleViolationError.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/SearchedArtifact.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/SearchedVersion.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/SortBy.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/SortOrder.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/SystemInfo.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/UpdateConfigurationProperty.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/UpdateRole.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/UpdateState.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/UserInfo.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/VersionMetaData.java
  common/src/main/java/io/apicurio/registry/rest/v2/beans/VersionSearchResults.java
  common/src/main/java/io/apicurio/registry/types/ArtifactState.java
  common/src/main/java/io/apicurio/registry/types/ArtifactType.java
  common/src/main/java/io/apicurio/registry/types/LogLevel.java
  common/src/main/java/io/apicurio/registry/types/RoleType.java
  common/src/main/java/io/apicurio/registry/types/RuleType.java
  scripts/validate-generated-code.sh
Labels: DO NOT MERGE

#2830 fix: upgrade snakeyaml
  app/pom.xml
  pom.xml
Labels: triage/needs-triage

#2832 Make oidc type not required in the ui config
  app/src/main/java/io/apicurio/registry/ui/servlets/ConfigJsServlet.java
Labels: area/ui

#2827 Review GH action versions
  .github/workflows/integration-tests.yaml
  .github/workflows/kubernetes-tests-manual.yaml
  .github/workflows/kubernetes-tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/maven-snapshot-release.yaml
  .github/workflows/publish-debug-image.yaml
  .github/workflows/registry-rhbq-build.yaml
  .github/workflows/release-images.yaml
  .github/workflows/release.yaml
  .github/workflows/tag-registry-examples.yaml
  .github/workflows/tool-exportV1-release.yaml
  .github/workflows/update-openapi.yaml
  .github/workflows/update-website.yaml
  .github/workflows/verify.yaml
Labels: triage/needs-triage

#2844 Fix typo in CI
  .github/workflows/publish-debug-image.yaml
Labels: triage/needs-triage

#2845 Add info annotation for access token expiration config property
  app/src/main/java/io/apicurio/registry/rest/v2/SystemResourceImpl.java
  app/src/main/java/io/apicurio/registry/services/auth/CustomAuthenticationMechanism.java
  common/src/main/resources/META-INF/openapi.json
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
Labels: triage/needs-triage

#2846 docs: clean up storage and upgrade versions
  docs/modules/ROOT/partials/getting-started/con-registry-distros.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-storage.adoc
  docs/modules/ROOT/partials/getting-started/proc-changing-artifact-owner-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-registry-operatorhub.adoc
  docs/modules/ROOT/partials/shared/attributes.adoc
Labels: Documentation, area/storage

#2853 Revert upgrader back to original SQL
  app/src/main/java/io/apicurio/registry/storage/impl/sql/upgrader/ProtobufCanonicalHashUpgrader.java
Labels: area/storage

#2836 Json backward compatability fix for type keyword
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/ObjectSchemaDiffVisitor.java
  schema-util/json/src/test/resources/io/apicurio/registry/rules/compatibility/jsonschema/compatibility-test-data.json
Labels: area/compatibility, area/rules
