Repository Apicurio/apicurio-registry, pull requests merged in 2022-11, with the labels that each got.

#2917 Update openapi to document the two different responses for Export
  common/src/main/resources/META-INF/openapi.json
Labels: triage/needs-triage

#2924 Introduce git-commit-id plugin
  app/src/main/assembly/assembly.xml
  pom.xml
  storage/kafkasql/src/main/assembly/assembly.xml
  storage/sql/src/main/assembly/assembly.xml
Labels: area/storage

#2931 Add the `git.properties` file to the native sql image
  distro/docker/src/main/docker/Dockerfile.native
Labels: area/storage

#2921 H2 native image
  .github/workflows/verify.yaml
  Makefile
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/H2SqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/PostgreSQLSqlStatements.java
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/h2.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/upgrades/3/h2.upgrade.ddl
  integration-tests/integration-tests-common/src/main/java/io/apicurio/tests/common/RegistryFacade.java
  pom.xml
  storage/kafkasql/pom.xml
Labels: area/storage

#2939 Enable debugging options for the SQL native image
  pom.xml
  storage/sql/src/main/resources/overlay.properties
Labels: area/storage

#2940 docs: cleanup from downstream testing
  docs/modules/ROOT/partials/getting-started/con-kafka-connect-converters.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-distros.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-rest-api.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-serdes-constants.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifact-references-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-configuring-liveness-readiness-probes.adoc
  docs/modules/ROOT/partials/getting-started/proc-creating-access-token-rest-api.adoc
  docs/modules/ROOT/partials/getting-started/proc-downloading-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-kafka-streams-operatorhub.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-registry-operatorhub.adoc
  docs/modules/ROOT/partials/getting-started/proc-registry-serdes-config-consumer.adoc
  docs/modules/ROOT/partials/getting-started/proc-registry-serdes-config-producer.adoc
  docs/modules/ROOT/partials/getting-started/proc-registry-serdes-config-stream.adoc
  docs/modules/ROOT/partials/getting-started/proc-registry-serdes-register.adoc
  docs/modules/ROOT/partials/getting-started/proc-setting-up-kafka-streams-storage.adoc
  docs/modules/ROOT/partials/getting-started/proc-setting-up-postgresql-storage.adoc
  docs/modules/ROOT/partials/getting-started/proc-testing-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/shared/attributes-links.adoc
  docs/modules/ROOT/partials/shared/attributes.adoc
Labels: Documentation, area/storage

#2787 [proposal] System tests revamp
  .github/workflows/new-system-tests.yaml
  new-system-tests/README.md
  new-system-tests/pom.xml
  new-system-tests/src/test/java/io/apicurio/registry/systemtests/example/ExampleIT.java
  new-system-tests/src/test/resources/kubernetes/example.yaml
  pom.xml
Labels: triage/needs-triage

#2971 Fix collect logs script
  .github/scripts/collect_logs.sh
Labels: triage/needs-triage

#2952 Fix compatibility rules version ordering
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/test/java/io/apicurio/registry/noprofile/compatibility/CompatibilityRuleApplicationTest.java
Labels: area/compatibility, area/storage, area/rules

#2981 Simplify the IT CI using dependent steps
  .github/workflows/integration-tests.yaml
Labels: Tests

#2954 New(new-system-tests): First test
  new-system-tests/pom.xml
  new-system-tests/scripts/kind_config.yaml
  new-system-tests/scripts/run.sh
  new-system-tests/scripts/setup_cluster.sh
  new-system-tests/src/main/java/io/apicurio/registry/systemtests/Constants.java
  new-system-tests/src/test/java/io/apicurio/registry/systemtests/SqlNoIAM.java
  new-system-tests/src/test/java/io/apicurio/registry/systemtests/TestBase.java
  new-system-tests/src/test/java/io/apicurio/registry/systemtests/Utils.java
  new-system-tests/src/test/java/io/apicurio/registry/systemtests/example/ExampleIT.java
  new-system-tests/src/test/resources/apicurio/00_operator_group.yaml
  new-system-tests/src/test/resources/apicurio/01_subscription.yaml
  new-system-tests/src/test/resources/apicurio/02_registry_sql_no_iam.yaml
  new-system-tests/src/test/resources/keycloak/00_service.yaml
  new-system-tests/src/test/resources/keycloak/01_realm.yaml
  new-system-tests/src/test/resources/keycloak/02_deployment.yaml
  new-system-tests/src/test/resources/kubernetes/example.yaml
  new-system-tests/src/test/resources/sql/00_service.yaml
  new-system-tests/src/test/resources/sql/01_deployment.yaml
Labels: area/storage

#2986 Update(PostgreSQL): Use PostgreSQL version 15
  new-system-tests/src/test/resources/sql/01_deployment.yaml
Labels: area/storage
