Repository Apicurio/apicurio-registry, pull requests merged in 2023-03, with the labels that each got.

#3166 docs: technical review feedback
  docs/local-test-playbook.yml
  docs/modules/ROOT/pages/getting-started/assembly-configuring-kafka-client-serdes.adoc
  docs/modules/ROOT/pages/getting-started/assembly-intro-to-registry-rules.adoc
  docs/modules/ROOT/pages/getting-started/assembly-managing-registry-artifacts-maven.adoc
  docs/modules/ROOT/pages/getting-started/assembly-registry-reference.adoc
  docs/modules/ROOT/pages/getting-started/assembly-using-kafka-client-serdes.adoc
  docs/modules/ROOT/partials/getting-started/con-kafka-connect-converters.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-artifacts.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-client.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-content.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-demo.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-overview.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-rules.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-serde.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-serdes-concepts.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifact-references-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-downloading-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-exporting-importing-using-rest-api.adoc
  docs/modules/ROOT/partials/getting-started/proc-managing-artifact-references-using-rest-api.adoc
  docs/modules/ROOT/partials/getting-started/proc-managing-artifact-versions-using-rest-api.adoc
  docs/modules/ROOT/partials/getting-started/proc-managing-artifacts-using-rest-api.adoc
  docs/modules/ROOT/partials/getting-started/proc-testing-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-writing-registry-client.adoc
  docs/modules/ROOT/partials/getting-started/ref-registry-client.adoc
Labels: Documentation

#3197 docs: add a note to ensure that compaction cleanup policy is used with kafkasql storage
  docs/modules/ROOT/partials/getting-started/proc-setting-up-kafka-streams-storage.adoc
Labels: area/storage

#3228 References support refinement
  app/src/main/java/io/apicurio/registry/ccompat/rest/v6/SubjectsResource.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v6/impl/SubjectsResourceImpl.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/SubjectsResource.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/SubjectsResourceImpl.java
  app/src/main/java/io/apicurio/registry/ccompat/store/RegistryStorageFacade.java
  app/src/main/java/io/apicurio/registry/ccompat/store/RegistryStorageFacadeImpl.java
  app/src/main/java/io/apicurio/registry/cncf/schemaregistry/impl/SchemagroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v1/ArtifactsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v2/GroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rules/compatibility/CompatibilityRuleExecutor.java
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecorator.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/ContentIdNotPreserveSqlDataImporter.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/upgrader/ProtobufCanonicalHashUpgrader.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/upgrader/ReferencesContentHashUpgrader.java
  app/src/main/java/io/apicurio/registry/util/ContentTypeUtil.java
  app/src/main/resources-unfiltered/META-INF/resources/api-specifications/registry/v2/openapi.json
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/db-version
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/h2.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/mssql.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/postgresql.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/upgrades/12/h2.upgrade.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/upgrades/12/postgresql.upgrade.ddl
  app/src/test/java/io/apicurio/registry/AbstractResourceTestBase.java
  app/src/test/java/io/apicurio/registry/noprofile/ArtifactTypeTest.java
  app/src/test/java/io/apicurio/registry/noprofile/compatibility/CompatibilityRuleApplicationTest.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v2/GroupsResourceTest.java
  app/src/test/java/io/apicurio/registry/rbac/AdminClientTest.java
  app/src/test/java/io/apicurio/registry/rbac/RegistryClientTest.java
  client/src/main/java/io/apicurio/registry/rest/client/RegistryClient.java
  client/src/main/java/io/apicurio/registry/rest/client/impl/RegistryClientImpl.java
  client/src/main/java/io/apicurio/registry/rest/client/request/provider/GroupRequestsProvider.java
  common/src/main/java/io/apicurio/registry/types/ContentTypes.java
  common/src/main/resources/META-INF/openapi.json
  integration-tests/testsuite/src/main/java/io/apicurio/tests/LoadBalanceRegistryClient.java
  schema-util/avro/src/main/java/io/apicurio/registry/content/canon/AvroContentCanonicalizer.java
  schema-util/avro/src/main/java/io/apicurio/registry/rules/compatibility/AvroCompatibilityChecker.java
  schema-util/common/src/main/java/io/apicurio/registry/rules/compatibility/AbstractCompatibilityChecker.java
  schema-util/common/src/main/java/io/apicurio/registry/rules/compatibility/CompatibilityChecker.java
  schema-util/common/src/main/java/io/apicurio/registry/rules/compatibility/NoopCompatibilityChecker.java
  schema-util/common/src/test/java/io/apicurio/registry/rules/compatibility/CompatibilityTestExecutor.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/JsonSchemaCompatibilityChecker.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/JsonSchemaDiffLibrary.java
  schema-util/json/src/test/java/io/apicurio/registry/rules/compatibility/jsonschema/JsonSchemaCompatibilityCheckerTest.java
  schema-util/protobuf/src/main/java/io/apicurio/registry/rules/compatibility/ProtobufCompatibilityChecker.java
  storage/kafkasql/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorage.java
Labels: area/compatibility, area/rest-api, area/storage, area/rules, area/rest-client

#3242 Automate version update for openapi.json and antora.yml
  .github/workflows/release.yaml
Labels: triage/needs-triage
