Repository Apicurio/apicurio-registry, pull requests merged in 2023-04, with the labels that each got.

#3254 Use common auth component
  app/pom.xml
  app/src/main/java/io/apicurio/registry/auth/AuthConfig.java
  app/src/main/java/io/apicurio/registry/rest/v2/AdminResourceImpl.java
  app/src/main/java/io/apicurio/registry/services/auth/CredentialsHelper.java
  app/src/main/java/io/apicurio/registry/services/auth/CustomAuthenticationMechanism.java
  app/src/main/java/io/apicurio/registry/services/auth/WrappedValue.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/util/DtoUtil.java
  app/src/main/resources/application.properties
  docs/generateAllConfigPartial.java
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  docs/pom.xml
  pom.xml
Labels: area/rest-api, area/storage

#3244 feat: resolve artifacts by their content hash
  schema-resolver/src/main/java/io/apicurio/registry/resolver/AbstractSchemaResolver.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/DefaultSchemaResolver.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/ERCache.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/SchemaLookupResult.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/strategy/ArtifactReference.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/strategy/ArtifactReferenceImpl.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/AbstractSchemaResolverTest.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/DefaultSchemaResolverTest.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/ERCacheTest.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/MockRecord.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/MockRegistryClient.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/MockSchemaParser.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/SchemaLookupResultTest.java
  schema-resolver/src/test/java/io/apicurio/registry/resolver/strategy/ArtifactReferenceImplTest.java
  serdes/serde-common/pom.xml
  serdes/serde-common/src/main/java/io/apicurio/registry/serde/AbstractSchemaResolver.java
  serdes/serde-common/src/main/java/io/apicurio/registry/serde/SchemaLookupResult.java
  serdes/serde-common/src/main/java/io/apicurio/registry/serde/SerdeConfig.java
  serdes/serde-common/src/main/java/io/apicurio/registry/serde/SerdeHeaders.java
  serdes/serde-common/src/main/java/io/apicurio/registry/serde/headers/DefaultHeadersHandler.java
  serdes/serde-common/src/main/java/io/apicurio/registry/serde/headers/DefaultHeadersHandlerConfig.java
  serdes/serde-common/src/main/java/io/apicurio/registry/serde/strategy/ArtifactReference.java
  serdes/serde-common/src/test/java/io/apicurio/registry/serde/headers/DefaultHeadersHandlerTest.java
Labels: area/serdes

#3274 docs: artifact versions are now deletable using api, clean up
  docs/modules/ROOT/partials/getting-started/con-registry-artifacts.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-migration.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifacts-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-browsing-artifacts-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-configuring-rules-using-console.adoc
  docs/modules/ROOT/partials/getting-started/proc-migrating-registry-applications.adoc
  docs/modules/ROOT/partials/getting-started/proc-migrating-registry-data.adoc
  docs/modules/ROOT/partials/getting-started/proc-writing-registry-client.adoc
  docs/modules/ROOT/partials/shared/attributes.adoc
Labels: Documentation, area/rules

#3278 Make keypassword optional and detach sasl from ssl in kafkasql
  storage/kafkasql/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlFactory.java
  storage/kafkasql/src/main/resources/overlay.properties
  storage/kafkasql/src/test/resources/test-overlay.properties
Labels: area/storage

#3298 Fix docker compose distribution
  distro/docker-compose/README.md
  distro/docker-compose/src/main/resources/.env
  distro/docker-compose/src/main/resources/.env.template
  distro/docker-compose/src/main/resources/docker-compose.apicurio.yml
  distro/docker-compose/src/main/resources/docker-compose.keycloak.yml
  distro/docker-compose/src/main/resources/keycloak/Dockerfile
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/css/login.css
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/css/raleway.css
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/apicurio_logo_sm.png
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/favicon.ico
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/feedback-error-arrow-down.png
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/feedback-error-sign.png
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/feedback-success-arrow-down.png
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/feedback-success-sign.png
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/feedback-warning-arrow-down.png
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/resources/img/feedback-warning-sign.png
  distro/docker-compose/src/main/resources/keycloak/apicurio/login/theme.properties
  distro/docker-compose/src/main/resources/reset_env.sh
  distro/docker-compose/src/main/resources/setup.sh
Labels: triage/needs-triage
