Repository Apicurio/apicurio-registry, pull requests merged in 2024-02, with the labels that each got.

#4282 Fix a bug with Delete All Artifact Rules (kafkasql storage only)
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlSubmitter.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/MessageType.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/keys/ArtifactRulesKey.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/keys/GlobalRuleKey.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/keys/GlobalRulesKey.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/keys/MessageTypeToKeyClass.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/sql/KafkaSqlSink.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/values/ArtifactRulesValue.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/values/GlobalRulesValue.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/values/MessageTypeToValueClass.java
  integration-tests/src/test/java/io/apicurio/tests/smokeTests/apicurio/RulesResourceIT.java
Labels: area/storage, area/rules

#4306 Fail fast in Registry v3 when detecting a v2 DB
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/db-version
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/h2.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/mssql.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/postgresql.ddl
Labels: area/storage

#4307 Fix go-sdk generation so output files are local user instead of root owned
  go-sdk/generate-docker.sh
Labels: triage/needs-triage

#4318 docs: fix config properties with no category or wrong category
  app/src/main/java/io/apicurio/registry/storage/RegistryStorageProducer.java
  app/src/main/java/io/apicurio/registry/storage/StorageBehaviorProperties.java
  app/src/main/java/io/apicurio/registry/storage/impl/gitops/GitOpsRegistryStorage.java
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
Labels: Documentation, area/storage

#4319 Fix the architecture detection mechanism
  python-sdk/kiota-gen.py
Labels: triage/needs-triage

#4312 [Database] Switch to cascading deletes in the DB layer where possible + some cleanup
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/H2SqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/PostgreSQLSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SQLServerSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/mappers/ContentEntityMapper.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/mappers/ContentMapper.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/mappers/DynamicConfigPropertyDtoMapper.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/mappers/StoredArtifactMapper.java
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/h2.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/mssql.ddl
  app/src/main/resources/io/apicurio/registry/storage/impl/sql/postgresql.ddl
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/GroupsResourceTest.java
  scripts/validate-files.sh
Labels: area/storage, area/rules

#4327 Updated the REST API to allow updating group metadata (with labels)
  app/src/main/java/io/apicurio/registry/cncf/schemaregistry/impl/SchemagroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/events/EventSourcedRegistryStorage.java
  app/src/main/java/io/apicurio/registry/rest/v2/GroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v3/GroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v3/V3ApiUtil.java
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/decorator/ReadOnlyRegistryStorageDecorator.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecoratorBase.java
  app/src/main/java/io/apicurio/registry/storage/dto/EditableGroupMetaDataDto.java
  app/src/main/java/io/apicurio/registry/storage/impl/gitops/AbstractReadOnlyRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlSubmitter.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/sql/KafkaSqlSink.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/values/GroupValue.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatements.java
  app/src/test/java/io/apicurio/registry/auth/SimpleAuthTest.java
  app/src/test/java/io/apicurio/registry/limits/LimitsTest.java
  app/src/test/java/io/apicurio/registry/noprofile/ArtifactSearchTest.java
  app/src/test/java/io/apicurio/registry/noprofile/ArtifactStateTest.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/GroupMetaDataTest.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/GroupsResourceTest.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/SearchResourceTest.java
  app/src/test/java/io/apicurio/registry/rbac/RegistryClientTest.java
  app/src/test/java/io/apicurio/registry/storage/impl/readonly/ReadOnlyRegistryStorageTest.java
  common/src/main/resources/META-INF/openapi.json
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_item_meta_request_builder.go
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_item_versions_item_meta_request_builder.go
  go-sdk/pkg/registryclient-v3/groups/with_group_item_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  go-sdk/pkg/registryclient-v3/models/editable_artifact_meta_data.go
  go-sdk/pkg/registryclient-v3/models/editable_group_meta_data.go
  go-sdk/pkg/registryclient-v3/models/group_meta_data.go
  integration-tests/src/test/java/io/apicurio/tests/smokeTests/apicurio/MetadataIT.java
Labels: area/rest-api, area/storage

#4331 [REST API] Add support for pagination in the get-role-mappings
  app/src/main/java/io/apicurio/registry/rest/v3/AdminResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v3/GroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v3/V3ApiUtil.java
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecoratorReadOnlyBase.java
  app/src/main/java/io/apicurio/registry/storage/dto/ArtifactSearchResultsDto.java
  app/src/main/java/io/apicurio/registry/storage/dto/GroupSearchResultsDto.java
  app/src/main/java/io/apicurio/registry/storage/dto/RoleMappingSearchResultsDto.java
  app/src/main/java/io/apicurio/registry/storage/dto/VersionSearchResultsDto.java
  app/src/main/java/io/apicurio/registry/storage/impl/gitops/GitOpsRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatements.java
  app/src/test/java/io/apicurio/registry/auth/AuthTestLocalRoles.java
  app/src/test/java/io/apicurio/registry/rbac/AdminClientTest.java
  app/src/test/java/io/apicurio/registry/rbac/AdminResourceTest.java
  app/src/test/java/io/apicurio/registry/rbac/RegistryClientTest.java
  app/src/test/java/io/apicurio/registry/storage/impl/readonly/ReadOnlyRegistryStorageTest.java
  common/src/main/resources/META-INF/openapi.json
  go-sdk/pkg/registryclient-v3/.kiota.log
  go-sdk/pkg/registryclient-v3/admin/role_mappings_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  go-sdk/pkg/registryclient-v3/models/role_mapping_search_results.go
  ui/ui-app/src/app/pages/roles/RolesPage.tsx
  ui/ui-app/src/models/index.ts
  ui/ui-app/src/models/roleMappingSearchResults.model.ts
  ui/ui-app/src/services/useAdminService.ts
Labels: area/ui, area/rest-api, area/storage

#4295 docs: configure registry auth and authz with azure ad
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/getting-started/assembly-configuring-registry-security.adoc
  docs/modules/ROOT/pages/getting-started/assembly-configuring-the-registry.adoc
  docs/modules/ROOT/partials/getting-started/proc-configuring-registry-security-azure.adoc
  docs/modules/ROOT/partials/getting-started/proc-configuring-registry-security-keycloak.adoc
  docs/modules/ROOT/partials/getting-started/ref-registry-security-configuration.adoc
  docs/modules/ROOT/partials/shared/attributes-links.adoc
  docs/modules/ROOT/partials/shared/attributes.adoc
Labels: Documentation, area/auth

#4339 [REST API] Moved the artifactTypes endpoint slightly
  app/src/test/java/io/apicurio/registry/rbac/AdminClientTest.java
  common/src/main/resources/META-INF/openapi.json
  go-sdk/pkg/registryclient-v3/admin/admin_request_builder.go
  go-sdk/pkg/registryclient-v3/admin/config_artifact_types_request_builder.go
  go-sdk/pkg/registryclient-v3/admin/config_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  ui/ui-app/src/services/useAdminService.ts
Labels: area/ui, area/rest-api

#4244 ccompat contentId fetch no orphan check
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/SchemasResourceImpl.java
Labels: area/ccompat-api

#4363 Fix docker compose distribution and add ui deployment
  distro/docker-compose/README.md
  distro/docker-compose/src/main/resources/docker-compose.apicurio.yml
Labels: area/ui

#4368 Add platform to docker run
  go-sdk/generate-docker.sh
Labels: triage/needs-triage

#4375 Fix default value configuration
  .github/workflows/image-scan.yaml
Labels: triage/needs-triage

#4385 Stream registry pod logs to standard out
  integration-tests/src/test/java/io/apicurio/deployment/RegistryDeploymentManager.java
Labels: triage/needs-triage
