Repository Apicurio/apicurio-registry, pull requests merged in 2024-05, with the labels that each got.

#4624 Fix the build on a new Fedora machine
  common/pom.xml
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  go-sdk/Makefile
  go-sdk/generate-docker.sh
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_item_versions_with_version_expression_item_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  go-sdk/pom.xml
  pom.xml
Labels: area/ui

#4633 Revert "build(deps): bump io.quarkiverse.operatorsdk:quarkus-operator-sdk-bom from 6.3.3 to 6.6.8"
  operator/pom.xml
Labels: area/ui

#4635 Port implement dereference avro
  app/src/main/java/io/apicurio/registry/rest/v2/AbstractResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v2/GroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v2/IdsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v3/IdsResourceImpl.java
  app/src/main/java/io/apicurio/registry/services/http/RegistryExceptionMapperService.java
  app/src/main/resources-unfiltered/META-INF/resources/api-specifications/registry/v2/openapi.json
  app/src/test/java/io/apicurio/registry/noprofile/serde/AvroSerdeTest.java
  common/src/main/resources/META-INF/openapi-v2.json
  schema-resolver/src/main/java/io/apicurio/registry/resolver/AbstractSchemaResolver.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/DefaultSchemaResolver.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/SchemaResolverConfig.java
  schema-resolver/src/main/java/io/apicurio/registry/resolver/config/DefaultSchemaResolverConfig.java
  schema-util/common/src/main/java/io/apicurio/registry/content/dereference/DereferencingNotSupportedException.java
  schema-util/json/src/main/java/io/apicurio/registry/content/dereference/JsonSchemaDereferencer.java
  schema-util/protobuf/src/main/java/io/apicurio/registry/content/dereference/ProtobufDereferencer.java
  serdes/avro-serde/src/main/java/io/apicurio/registry/serde/avro/AvroKafkaSerdeConfig.java
Labels: area/rest-api, area/serdes

#4636 Port implement dereference proto
  app/src/test/java/io/apicurio/registry/noprofile/serde/ProtobufSerdeTest.java
  docs/modules/ROOT/partials/getting-started/proc-managing-artifact-references-using-rest-api.adoc
  schema-util/protobuf/src/main/java/io/apicurio/registry/content/dereference/ProtobufDereferencer.java
  serdes/protobuf-serde/src/main/java/io/apicurio/registry/serde/protobuf/ProtobufSchemaParser.java
  utils/protobuf-schema-utilities/src/main/java/io/apicurio/registry/utils/protobuf/schema/FileDescriptorUtils.java
Labels: area/serdes

#4643 Moved the docs playbook into apicurio-registry
  docs-playbook/.gitignore
  docs-playbook/Dockerfile
  docs-playbook/LICENSE
  docs-playbook/README.md
  docs-playbook/_build-all.sh
  docs-playbook/build.sh
  docs-playbook/docs-playbook.yml
  docs-playbook/package-lock.json
  docs-playbook/package.json
  docs-playbook/search-playbook.yml
  docs-playbook/supplemental_ui/css/search.css
  docs-playbook/supplemental_ui/js/vendor/lunr.js
  docs-playbook/supplemental_ui/js/vendor/search.js
  docs-playbook/supplemental_ui/partials/footer-content.hbs
  docs-playbook/supplemental_ui/partials/footer-scripts.hbs
  docs-playbook/supplemental_ui/partials/head-meta.hbs
  docs-playbook/supplemental_ui/partials/header-content-lunr.hbs
Labels: triage/needs-triage

#4637 Fix orphaned content not properly deleted
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SQLServerSqlStatements.java
  app/src/test/java/io/apicurio/registry/noprofile/ccompat/rest/v7/ConfluentClientTest.java
Labels: area/storage

#4649 Port avro serializer use dereferenced content
  app/pom.xml
  app/src/test/java/io/apicurio/registry/noprofile/serde/AvroSerdeTest.java
  app/src/test/resources/io/apicurio/registry/serde/LeadFallErstellen.avsc
  schema-resolver/src/main/java/io/apicurio/registry/resolver/SchemaResolverConfig.java
Labels: triage/needs-triage

#4672 Enable ci for branch 2.6.x
  .github/workflows/integration-tests.yaml
  examples/README.md
  examples/avro-bean/pom.xml
  examples/avro-maven-with-references-auto/pom.xml
  examples/avro-maven-with-references/pom.xml
  examples/camel-quarkus-kafka/kafka-registry-consumer/pom.xml
  examples/camel-quarkus-kafka/kafka-registry-producer/pom.xml
  examples/cloudevents/pom.xml
  examples/confluent-serdes/pom.xml
  examples/custom-resolver/pom.xml
  examples/custom-strategy/pom.xml
  examples/debezium-openshift/pom.xml
  examples/mix-avro/pom.xml
  examples/pom.xml
  examples/protobuf-bean/pom.xml
  examples/protobuf-bean/src/main/java/io/apicurio/registry/examples/simple/protobuf/ProtobufBeanExample.java
  examples/protobuf-find-latest/pom.xml
  examples/protobuf-validation/pom.xml
  examples/quarkus-auth/pom.xml
  examples/rest-client-downstream/pom.xml
  examples/rest-client/pom.xml
  examples/rest-client/src/main/java/io/apicurio/registry/examples/SimpleRegistryDemoBasicAuth.java
  examples/serdes-with-references/pom.xml
  examples/serdes-with-references/src/main/java/io/apicurio/registry/examples/references/JsonSerdeReferencesDereferencedExample.java
  examples/simple-avro-downstream/pom.xml
  examples/simple-avro-maven/pom.xml
  examples/simple-avro/pom.xml
  examples/simple-avro/src/main/java/io/apicurio/registry/examples/simple/avro/SimpleAvroExample.java
  examples/simple-json/pom.xml
  examples/simple-protobuf/pom.xml
  examples/simple-validation/pom.xml
  pom.xml
Labels: triage/needs-triage

#4632 Enable Basic Auth for testing purposes
  .github/workflows/verify.yaml
  .gitignore
  app/src/main/java/io/apicurio/registry/auth/AuthConfig.java
  app/src/main/java/io/apicurio/registry/auth/AuthorizedInterceptor.java
  app/src/main/java/io/apicurio/registry/rest/v3/SystemResourceImpl.java
  app/src/main/resources/application.properties
  app/src/test/java/io/apicurio/registry/auth/BasicAuthWithPropertiesTest.java
  common/src/main/resources/META-INF/openapi.json
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  examples/developer-basic-auth/basic-auth.env
  examples/developer-basic-auth/basic-auth.properties
  pom.xml
  ui/ui-app/package-lock.json
  ui/ui-app/package.json
  ui/ui-app/src/app/components/auth/IfAuth.tsx
  ui/ui-app/src/services/useAdminService.ts
  ui/ui-app/src/services/useGroupsService.ts
  ui/ui-app/src/services/useUserService.ts
  ui/ui-app/src/utils/rest.utils.ts
  ui/ui-app/vite.config.ts
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/BasicAuthWithPropertiesTestProfile.java
Labels: area/ui, area/rest-api

#4714 change example references
  docs/modules/ROOT/pages/getting-started/guide-exporting-registry-kafka-topic-data.adoc
  docs/modules/ROOT/partials/getting-started/con-kafka-connect-converters.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-artifacts.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-demo.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-serdes-avro.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-serdes-json.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-serdes-protobuf.adoc
  docs/modules/ROOT/partials/getting-started/con-registry-serdes-types.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifact-references-automatically-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifact-references-manually-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-adding-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-downloading-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-registry-in-memory-storage.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-registry-kafka-storage.adoc
  docs/modules/ROOT/partials/getting-started/proc-installing-registry-sql-storage.adoc
  docs/modules/ROOT/partials/getting-started/proc-migrating-registry-applications.adoc
  docs/modules/ROOT/partials/getting-started/proc-testing-artifacts-using-maven-plugin.adoc
  docs/modules/ROOT/partials/getting-started/proc-writing-registry-client.adoc
  docs/modules/ROOT/partials/shared/attributes.adoc
Labels: area/storage

#4665 Support kafka sql snapshotting
  .github/workflows/integration-tests.yaml
  .github/workflows/verify.yaml
  app/.gitignore
  app/pom.xml
  app/src/main/java/io/apicurio/registry/config/RegistryStorageConfigCache.java
  app/src/main/java/io/apicurio/registry/rest/v3/AdminResourceImpl.java
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/decorator/ReadOnlyRegistryStorageDecorator.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecoratorBase.java
  app/src/main/java/io/apicurio/registry/storage/impl/gitops/GitOpsRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlConfiguration.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlFactory.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlSubmitter.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/messages/CreateSnapshot1Message.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/serde/KafkaSqlMessageIndex.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/sql/KafkaSqlSink.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/H2SqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/PostgreSQLSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SQLServerSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatements.java
  app/src/main/resources-unfiltered/META-INF/resources/api-specifications/registry/v3/openapi.json
  app/src/main/resources/application.properties
  app/src/test/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorageTest.java
  app/src/test/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlSnapshotTest.java
  app/src/test/java/io/apicurio/registry/storage/impl/kafkasql/KafkasqlRecoverFromSnapshotTest.java
  app/src/test/java/io/apicurio/registry/storage/impl/readonly/ReadOnlyRegistryStorageTest.java
  app/src/test/resources/io/apicurio/registry/storage/impl/kafkasql/943e6945-5aef-4ca0-a3cd-31af380840ea.sql
  app/src/test/resources/io/apicurio/registry/storage/impl/kafkasql/avro.json
  common/src/main/resources/META-INF/openapi.json
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  examples/rest-client/src/main/java/io/apicurio/registry/examples/RegistryLoader.java
  go-sdk/pkg/registryclient-v2/models/new_comment_escaped.go
  go-sdk/pkg/registryclient-v3/admin/config_trigger_snapshot_request_builder.go
  go-sdk/pkg/registryclient-v3/models/new_comment_escaped.go
  integration-tests/pom.xml
  integration-tests/src/main/java/io/apicurio/deployment/Constants.java
  integration-tests/src/test/java/io/apicurio/deployment/KafkaSqlDeploymentManager.java
  integration-tests/src/test/java/io/apicurio/deployment/KubernetesTestResources.java
  integration-tests/src/test/java/io/apicurio/deployment/RegistryDeploymentManager.java
  integration-tests/src/test/java/io/apicurio/tests/kafkasql/KafkaSqlSnapshottingIT.java
  integration-tests/src/test/java/io/apicurio/tests/utils/Constants.java
  integration-tests/src/test/java/io/apicurio/tests/utils/KafkaFacade.java
  integration-tests/src/test/resources/infra/kafka/kafka.yml
  integration-tests/src/test/resources/infra/kafka/registry-kafka.yml
  pom.xml
  utils/kafka/pom.xml
  utils/tests/pom.xml
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/KafkaTestContainerManager.java
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/KafkasqlRecoverFromSnapshotTestProfile.java
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/KafkasqlTestProfile.java
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/RandomizedDbUrlTestProfile.java
Labels: area/rest-api, area/storage

#4718 Update the REST API endpoint for creating snapshots
  app/src/main/java/io/apicurio/registry/rest/v3/AdminResourceImpl.java
  common/src/main/resources/META-INF/openapi.json
  go-sdk/pkg/registryclient-v2/models/new_comment_escaped.go
  go-sdk/pkg/registryclient-v3/admin/admin_request_builder.go
  go-sdk/pkg/registryclient-v3/admin/config_trigger_snapshot_request_builder.go
  go-sdk/pkg/registryclient-v3/admin/snapshots_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  go-sdk/pkg/registryclient-v3/models/new_comment_escaped.go
  go-sdk/pkg/registryclient-v3/models/snapshot_meta_data.go
  integration-tests/src/test/java/io/apicurio/deployment/KafkaSqlDeploymentManager.java
  ui/ui-app/src/app/pages/root/RootRedirectPage.tsx
Labels: area/rest-api

#4722 [REST API] Replaced the old "/test" rest api endpoint with a "dryRun" query param
  app/src/main/java/io/apicurio/registry/rest/v3/GroupsResourceImpl.java
  common/src/main/resources/META-INF/openapi.json
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_item_test_request_builder.go
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_item_versions_request_builder.go
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_request_builder.go
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_with_artifact_item_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  integration-tests/src/test/java/io/apicurio/tests/smokeTests/apicurio/AllArtifactTypesIT.java
  integration-tests/src/test/java/io/apicurio/tests/smokeTests/apicurio/ArtifactsIT.java
  utils/maven-plugin/src/main/java/io/apicurio/registry/maven/TestUpdateRegistryMojo.java
Labels: area/rest-api, area/rules

#4720 Upgrade quarkus to 3.8 stream
  app/script.sql
  integration-tests/pom.xml
  integration-tests/src/test/java/io/apicurio/deployment/RegistryDeploymentManager.java
  pom.xml
Labels: area/storage
