Repository Apicurio/apicurio-registry, pull requests merged in 2024-08, with the labels that each got.

#4967 Upgrade kiota to latest version
  typescript-sdk/package-lock.json
  typescript-sdk/package.json
  ui/package-lock.json
  ui/ui-app/package-lock.json
  ui/ui-app/package.json
Labels: area/ui

#4968 Upgraded eslint parser and plugin
  ui/ui-docs/package-lock.json
  ui/ui-docs/package.json
  ui/ui-docs/src/app/App.tsx
Labels: area/ui

#4966 Moved transaction handling into Handle instead of @Transactional
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractHandleFactory.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/HandleFactory.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/PostgreSQLSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/RegistryDatasourceProducer.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SQLServerSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/jdb/Handle.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/jdb/HandleImpl.java
Labels: area/storage

#4974 Implement "dryRun" feature by using the new Tx rollback
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/AbstractResource.java
  app/src/main/java/io/apicurio/registry/limits/RegistryStorageLimitsEnforcer.java
  app/src/main/java/io/apicurio/registry/rest/v2/GroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v3/GroupsResourceImpl.java
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/decorator/ReadOnlyRegistryStorageDecorator.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecoratorBase.java
  app/src/main/java/io/apicurio/registry/storage/impl/gitops/AbstractReadOnlyRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/messages/CreateArtifact9Message.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/messages/CreateArtifactVersion8Message.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/messages/CreateGlobalRule2Message.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/serde/KafkaSqlMessageIndex.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/DryRunTest.java
  app/src/test/java/io/apicurio/registry/noprofile/storage/RegistryStoragePerformanceTest.java
  app/src/test/java/io/apicurio/registry/noprofile/storage/RegistryStorageSmokeTest.java
  app/src/test/java/io/apicurio/registry/storage/impl/readonly/ReadOnlyRegistryStorageTest.java
Labels: area/rest-api, area/storage

#4990 Upgrade to the latest Avro dependency
  app/src/test/java/io/apicurio/registry/noprofile/ccompat/rest/v7/ConfluentClientTest.java
  app/src/test/java/io/apicurio/registry/noprofile/serde/AvroSerdeTest.java
  integration-tests/src/test/java/io/apicurio/tests/converters/RegistryConverterIT.java
  integration-tests/src/test/java/io/apicurio/tests/serdes/apicurio/AvroSerdeIT.java
  integration-tests/src/test/java/io/apicurio/tests/smokeTests/apicurio/ArtifactsIT.java
  integration-tests/src/test/java/io/apicurio/tests/smokeTests/confluent/RulesResourceConfluentIT.java
  pom.xml
  schema-util/avro/src/main/java/io/apicurio/registry/rules/compatibility/AvroCompatibilityChecker.java
  schema-util/avro/src/main/java/io/apicurio/registry/rules/validity/AvroContentValidator.java
  utils/maven-plugin/src/main/java/io/apicurio/registry/maven/AvroDirectoryParser.java
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/TestUtils.java
Labels: triage/needs-triage

#5000 Support for automatically generating SemVer branches
  app/pom.xml
  app/src/main/java/io/apicurio/registry/semver/SemVerConfigProperties.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractHandleFactory.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/resources/application.properties
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/BranchesTest.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/SemVerBranchesTest.java
  common/src/main/resources/META-INF/openapi.json
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_item_versions_request_builder.go
  go-sdk/pkg/registryclient-v3/groups/item_artifacts_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  pom.xml
  ui/tests/specs/settings.spec.ts
  ui/ui-app/src/app/components/errorPage/index.ts
  ui/ui-app/src/app/pages/PageErrorHandler.tsx
  ui/ui-app/src/app/pages/settings/SettingsPage.tsx
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/SemanticVersioningProfile.java
Labels: area/ui, area/storage

#5007 Upgrade to the latest version of vite
  typescript-sdk/package-lock.json
  typescript-sdk/package.json
  typescript-sdk/tsconfig.node.json
  typescript-sdk/vite.config.mts
  ui/package-lock.json
  ui/ui-app/package-lock.json
  ui/ui-app/package.json
  ui/ui-app/tsconfig.node.json
  ui/ui-app/vite.config.mts
  ui/ui-docs/package-lock.json
  ui/ui-docs/package.json
  ui/ui-docs/tsconfig.node.json
  ui/ui-docs/vite.config.mts
Labels: area/ui

#5008 Upgraded to the latest kiota
  integration-tests/src/test/java/io/apicurio/tests/serdes/apicurio/ProtobufSerdeIT.java
  package-lock.json
  typescript-sdk/package-lock.json
  typescript-sdk/package.json
  ui/package-lock.json
  ui/ui-app/package-lock.json
  ui/ui-app/package.json
Labels: area/ui

#5018 Added debugging to the protobuf serdes test
  integration-tests/src/test/java/io/apicurio/tests/serdes/apicurio/ProtobufSerdeIT.java
Labels: area/serdes

#5017 Created an option in the CCompat API to support groups via subject naming convention
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/AbstractResource.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/CCompatConfig.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/CompatibilityResourceImpl.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/ConfigResourceImpl.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/SubjectVersionsResourceImpl.java
  app/src/main/java/io/apicurio/registry/ccompat/rest/v7/impl/SubjectsResourceImpl.java
  app/src/test/java/io/apicurio/registry/noprofile/ccompat/rest/v7/ConfluentCompatApiWithGroupsTest.java
  common/src/main/java/io/apicurio/registry/model/GA.java
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  utils/tests/src/main/java/io/apicurio/registry/utils/tests/CCompatWithGroupsTestProfile.java
Labels: area/compatibility

#5037 Several improvements to the Import/Export process
  app/src/main/java/io/apicurio/registry/ImportLifecycleBean.java
  app/src/main/java/io/apicurio/registry/rest/v2/AdminResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v2/DownloadsResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v2/shared/DataExporter.java
  app/src/main/java/io/apicurio/registry/rest/v3/AdminResourceImpl.java
  app/src/main/java/io/apicurio/registry/rest/v3/shared/DataExporter.java
  app/src/main/java/io/apicurio/registry/storage/RegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/decorator/ReadOnlyRegistryStorageDecorator.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecoratorBase.java
  app/src/main/java/io/apicurio/registry/storage/decorator/RegistryStorageDecoratorReadOnlyBase.java
  app/src/main/java/io/apicurio/registry/storage/impexp/EntityInputStream.java
  app/src/main/java/io/apicurio/registry/storage/impl/gitops/AbstractReadOnlyRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/gitops/GitOpsRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/kafkasql/KafkaSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/CommonSqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/impl/sql/SqlStatements.java
  app/src/main/java/io/apicurio/registry/storage/importing/DataImporter.java
  app/src/main/java/io/apicurio/registry/storage/importing/ImportExportConfigProperties.java
  app/src/main/java/io/apicurio/registry/storage/importing/v2/AbstractDataImporter.java
  app/src/main/java/io/apicurio/registry/storage/importing/v2/SqlDataUpgrader.java
  app/src/main/java/io/apicurio/registry/storage/importing/v3/AbstractDataImporter.java
  app/src/main/java/io/apicurio/registry/storage/importing/v3/SqlDataImporter.java
  app/src/main/resources/application.properties
  app/src/test/java/io/apicurio/registry/MigrationTest.java
  app/src/test/java/io/apicurio/registry/noprofile/rest/v3/ImportExportTest.java
  app/src/test/java/io/apicurio/registry/storage/impl/readonly/ReadOnlyRegistryStorageTest.java
  common/src/main/java/io/apicurio/registry/utils/IoUtil.java
  common/src/main/resources/META-INF/openapi.json
  docs/modules/ROOT/partials/getting-started/ref-registry-all-configs.adoc
  go-sdk/pkg/registryclient-v3/admin/import_request_builder.go
  go-sdk/pkg/registryclient-v3/kiota-lock.json
  integration-tests/src/test/java/io/apicurio/tests/migration/DataMigrationIT.java
  integration-tests/src/test/java/io/apicurio/tests/migration/DoNotPreserveIdsImportIT.java
  integration-tests/src/test/java/io/apicurio/tests/migration/GenerateCanonicalHashImportIT.java
  integration-tests/src/test/java/io/apicurio/tests/migration/MigrationTestsDataInitializer.java
  utils/exportConfluent/src/main/java/io/apicurio/registry/utils/export/Export.java
  utils/exportConfluent/src/main/java/io/apicurio/registry/utils/export/ExportContext.java
  utils/importexport/pom.xml
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/EntityInfo.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/EntityInputStream.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/EntityInputStreamImpl.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/EntityReader.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/EntityWriter.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/ManifestEntity.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/v2/EntityReader.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/v2/EntityType.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/v2/ManifestEntity.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/v3/EntityReader.java
Labels: area/rest-api, area/storage, area/rules

#5041 Include db version in export manifest
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  utils/importexport/src/main/java/io/apicurio/registry/utils/impexp/ManifestEntity.java
Labels: area/storage

#5044 Add import test and fix importing of labels and properties
  app/src/main/java/io/apicurio/registry/storage/impl/sql/AbstractSqlRegistryStorage.java
  app/src/main/java/io/apicurio/registry/storage/importing/v2/SqlDataUpgrader.java
  app/src/test/java/io/apicurio/registry/SimpleDataUpgradeTest.java
  app/src/test/resources-unfiltered/io/apicurio/registry/upgrade/v2_export_simple.zip
Labels: area/storage

#5055 Fixes AUTH_CLIENT_ID typo
  ui/.docker-scripts/create-config.cjs
Labels: area/ui

#5052 fix: JSON Schema compat: Removing object property/array item does not take additional properties/items into account
  pom.xml
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/ArraySchemaDiffVisitor.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/DiffType.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/DiffUtil.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/ObjectSchemaDiffVisitor.java
  schema-util/json/src/test/resources/io/apicurio/registry/rules/compatibility/jsonschema/compatibility-test-data.json
Labels: area/compatibility, area/rules

#5059 Backport of PR#5052
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/ArraySchemaDiffVisitor.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/DiffType.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/DiffUtil.java
  schema-util/json/src/main/java/io/apicurio/registry/rules/compatibility/jsonschema/diff/ObjectSchemaDiffVisitor.java
  schema-util/json/src/test/resources/io/apicurio/registry/rules/compatibility/jsonschema/compatibility-test-data.json
Labels: area/compatibility, area/rules

#5077 remove the wire-compiler dependency
  pom.xml
  serdes/protobuf-serde/pom.xml
  utils/protobuf-schema-utilities/pom.xml
Labels: area/serdes

#5084 Fix lombok scope in 2.6.x
  app/pom.xml
  common/pom.xml
  examples/debezium-openshift/pom.xml
  examples/tools/kafkasql-topic-import/pom.xml
  integration-tests/pom.xml
  pom.xml
  schema-util/common/pom.xml
  schema-util/json/pom.xml
  schema-util/protobuf/pom.xml
Labels: area/storage

#5096 Upgrade patternfly and axios
  ui/ui-app/package-lock.json
  ui/ui-app/package.json
Labels: area/ui

#5094 Fix/2.6.x/java 21
  app/pom.xml
  docs/generateAllConfigPartial.java
  pom.xml
  utils/exportConfluent/pom.xml
  utils/exportV1/pom.xml
Labels: triage/needs-triage
